body {
    background: #d6c4a5 url('../images/bg-body.jpg') top left no-repeat;
}

body section#layout-content .col-sm-9 {
    background: whitesmoke;
    color:  #543928;
    padding: 20px;
}

.container.wohngesund-brown{
    background: #543928;
    color: whitesmoke;
    padding-bottom: 10px;
    padding-top: 20px;
}

@media (max-width: 786px) {
    header#layout-header{
        display: none;
    }
    .sidebar-showrooms{
        display: none;
    }
    body {
        padding-top: inherit;
    }
}


.navbar {
    border: none;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

.navbar-default {
    border-color: inherit;
    background-color: inherit;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
        background: #543928;
        color: white;
        border: none;
    }

    .sidebar-nav {
        padding-top: 12px;
        padding-bottom: 12px;
        color: white;
        border: none;
    }
    .sidebar-nav {
        color: #0d0d0d;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: #755c4a;
        color: white;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #e9e9e9;
        background-color:#755c4a;
    }

    .content{
        padding: 20px;
        clear: both;
    }
}


.jumbotron.title-js{
    background: rgba(243, 223, 188, 0.46);
    color: #543928;
}

.jumbotron.title-js h1{
    text-align: left;
}

.bigger{
    font-size: 300%;
    text-transform: uppercase;
}

a {
    color: #257576;
}

a:hover, a:focus {
    color: rgba(55, 170, 171, 0.95);
    text-decoration: underline;
}

.showrooms a {
    color: #f6ce88;
}

footer a {
    color: white;
}

.showrooms{
    font-size: 13px;
    padding: 20px;
}

@media (min-width: 768px) {

}

a.list-group-item-success {
    background: #543928;
    color: inherit;
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(132, 118, 108, 0.83);
    background-color: #6d5649;
}

a.list-group-item {
    color: whitesmoke;
}


a.list-group-item-success:hover, a.list-group-item-success:focus {
    color: #ffffff;
    background-color: #755d4e;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #543928;
    background-color: #fbfbfb;
    border-color: #543928;
}

.secondary .list-group-item {
    padding-left: 30px;
}

a.list-group-item-success.active, a.list-group-item-success.active:hover, a.list-group-item-success.active:focus {
    color: #543928;
    background-color: #fbfbfb;
    border-color: #543928;
}

h1.title {
    text-align: center;
    margin-bottom:20px;
}

.content:first-letter {
    font-size: 50px;
    float: left;
    line-height: 40px;
}

.leaf {
    background: url("../images/blatt-logo-wohngesund.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 280px;
    opacity: 0.2;
}

@media (max-width: 768px) {
    .leaf{
        display: none;
    }
}

.orange {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f18430+0,f2b818+100 */
    background: #f18430; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #f18430 0%, #f2b818 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #f18430 0%,#f2b818 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #f18430 0%,#f2b818 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18430', endColorstr='#f2b818',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    padding: 10px 20px;
    text-align: center;
    border: 1px solid #f18430;
}

.orange a{
    color: white;
}

.orange-border {
    border: 1px solid #f18430;
    text-align: center;
    padding: 10px 20px;
}

.orange-border a {
    color: #f18430;
}

.tuerkis-border {
    border: 1px dashed #257576;
    text-align: center;
    padding: 10px 20px;
    background: white;
    color: #257576;
    vertical-align: middle;
}

.tuerkis-border a {
    color: #257576;
}

.btn-success {
    color: #ffffff;
    background-color: #257576;
    border-color: #2c8b8c;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #2c8b8c;
    border-color: #36aeaf;
}


