body {
    background: #d6c4a5 url('../images/bg-body.jpg') top left no-repeat;
}

body section#layout-content .col-sm-9 {
    background: whitesmoke;
    color:  #543928;
}

.container.wohngesund-brown{
    background: #543928;
    color: whitesmoke;
    padding-bottom: 10px;
    padding-top: 20px;
}

@media (max-width: 786px) {
    header#layout-header{
        display: none;
    }
    .sidebar-showrooms{
        display: none;
    }
    body {
        padding-top: inherit;
    }
}


.navbar {
    border: none;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

.navbar-default {
    border-color: inherit;
    background-color: inherit;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
        background: #543928;
        color: white;
        border: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
        border: none;
        border-bottom: 1px solid #c6bea3;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
        color: white;
        border: none;
    }
    .sidebar-nav .navbar li li a {
        color: #0d0d0d;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: #755c4a;
        color: white;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #e9e9e9;
        background-color: #755c4a;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #e9e9e9;
        background-color:#755c4a;
    }
}


.jumbotron.title-js{
    background: rgba(243, 223, 188, 0.46);
    color: #543928;
}

.jumbotron.title-js h1{
    text-align: left;
}

.bigger{
    font-size: 300%;
    text-transform: uppercase;
}

a {
    color: #257576;
}

a:hover, a:focus {
    color: rgba(55, 170, 171, 0.95);
    text-decoration: underline;
}

.sidebar-showrooms a, footer a {
    color: white;
    text-decoration: underline;
}

@media (min-width: 768px) {

}

a.list-group-item-success {
    background: #543928;
    color: inherit;
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(132, 118, 108, 0.83);
    background-color: #6d5649;
}

a.list-group-item {
    color: whitesmoke;
}


a.list-group-item-success:hover, a.list-group-item-success:focus {
    color: #ffffff;
    background-color: #755d4e;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #543928;
    background-color: #fbfbfb;
    border-color: #543928;
}

.secondary .list-group-item {
    padding-left: 30px;
}

a.list-group-item-success.active, a.list-group-item-success.active:hover, a.list-group-item-success.active:focus {
    color: #543928;
    background-color: #fbfbfb;
    border-color: #543928;
}

h1.title {
    text-transform: uppercase;
    text-align: center;
}

.content:first-letter {
    font-size: 50px;
    float: left;
    line-height: 40px;
}