<div class="sidebar-showrooms">
	<h2 class="schauraum">SCHAURÄUME:</h2>
	<p style="text-align: right;"><br>
		<a class="filiale" href="http://www.wohngesund.at/kontakt/anfahrtsbeschreibung.html#flagshipstore"><strong>ZENTRALE</strong></a><br>
		1070 Wien, Neubaugasse 15<br> <strong>T: +43 (0)1 715 51 52 - 0</strong><br><br>
		<a class="filiale"
		   href="http://www.wohngesund.at/kontakt/anfahrtsbeschreibung.html#wien"
			title="Kontaktdetails"><strong>FILIALE</strong></a><br>1030 Wien, Weyrgasse
		7<br><strong>T.: +43 (0)1 715 51 52 - 331</strong><br><br>
		<a href="http://www.wohngesund.at/kontakt/anfahrtsbeschreibung.html#gerasdorf"
			title="Anfahrtsbeschreibung zum Parkett-Schauraum in Gerasdorf"><strong>LAGERVERKAUF
				NORD</strong></a><br> Nähe Shopping Center
		<br>
		2201 Gerasdorf, Brünnerstr. 115-119<br> <strong>T: +43 (0)1 715 51 52 - 611<br>
		</strong><br> <a class="filiale"
		                 href="http://www.wohngesund.at/kontakt/anfahrtsbeschreibung.html#wrneustadt"
		                 title="Kontaktdetails Würflach"><strong>LAGERVERKAUF
				SÜD</strong></a><br>Wiener Neustadt<br>2732 Würflach, Heuweg 203<br> <strong>T:
			+43 (0) 699 123 78 488<br>+43 (0) 699 123 78 410</strong> <br><br>
		<a
			href="http://www.wohngesund.at/kontakt/anfahrtsbeschreibung.html#graz"><strong>FILIALE</strong>
			</a><br>8054 Graz, Weblinger
		Gürtel 33<br><em>im Musterhauspark</em><br><br><a
			href="http://www.wohngesund.at/kontakt/anfahrtsbeschreibung.html#grosshandelwien"
			title="Kontaktdetails Großhandel"><strong>GROSSHANDEL</strong></a><br>1070 Wien,
		Lindengasse 38<br><strong>T: +43 (0)1 715 51 52 - 271</strong></p>
	<p>&nbsp;</p></div>